:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

@mixin flex_vertical_center ($center) {
    display: flex;
    flex-direction: column;
    justify-content: $center;
}


header {
    width: 100%;
    height: 5vh;
}

.nav {
    height: 100%;
    width: 100%;

    .list {
        display: flex;
        height: 100%;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .list__item {
        width: 25%;
        height: 100%;
        @include flex_vertical_center(center);
    }
}

.section__header {
    text-align: center;
    width: 100%;
    min-height: 20%;
    padding: 0 2em;

}

.section__description {
    text-align: center;
    width: 100%;
    padding: 0.5em 2em;
}

.tiles {
    width: 33.3%;
    text-align: center;
    padding: 0 2em;
    @include flex_vertical_center(center);
}

.tiles__header {
    padding: 1em 0;
}

.btn {
    min-width: 10vw;
    min-height: 5vh;
    padding: 0 2em;
}

.btn--radius {
    border-radius: 50px;
    background-color: rgba(9, 156, 9, 0.719);
    border: 0;
}

.icon {
    @include flex_vertical_center(center);
}

.main {
    height: 60vh;
    color: white;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6),
        ),
        url("../photo/workspace.jpg"),
        center;
    background-size: cover;
    @include flex_vertical_center(center);

    .section__header--big {
        font-size: 2.5em;
    }

    .btn--radius {
        margin: 0 auto;
        color: white;
    }
}

.ourServices {
    min-height: 60vh;
    @include flex_vertical_center(center);

    .tiles__conteiner {
        display: flex;
        min-height: 30vh;
    }
}


.test {
    color: white;
    width: 70%;
    margin-left: 30%;
    min-height: 70vh;
    padding-left: 3em;
    text-align: left;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4),
        ),
        url(../photo/ocean.jpg),
        center;
    background-size: cover;
    @include flex_vertical_center(center);

    .section__header {
        text-align: left;
        padding-left: 0;
    }

    .section__description {
        text-align: left;
        padding-left: 0;
    }

    .list {
        font-size: 1.2em;
    }

    .list__item {
        padding-top: 1em;
    }

    .list__item::before {
        content: '✓';
        padding-right: 1em;
    }

    .btn {
        margin-top: 4em;
        width: 20%;
        color: white;
    }
}

.latestProject {
    min-height: 70vh;
    width: 100%;
    background: url("../photo/iPad.png");
    background-position: 40vw bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include flex_vertical_center(center);

    .container__details__tiles {
        display: grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 1fr;
        text-align: left;
        padding: 2em 0;
    }

    .tiles {
        width: 80%;
        text-align: left;
    }

    .icon {
        text-align: center;
    }
}

.culture__value {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .section__description {
        padding-bottom: 4em;
    }
}

.contact_us {
    height: 40vh;
    @include flex_vertical_center(center);
    text-align: center;
    color: white;
    background-color: rgba(9, 156, 9, 0.719);

    .btn {
        width: 15%;
        margin: 0 auto;
        margin-top: 3em;
        background-color: rgba(9, 156, 9, 0);
        border: 1px solid white;
        color: white;
    }
}

@media only screen and (max-width:980px) {

    .ourServices {
        .section__header {
            padding-top: 2em;
        }


        .tiles__conteiner {
            flex-direction: column;

            .tiles {
                width: 50%;
                margin: 2em auto;

            }
        }
    }

    .culture__value {
        margin-top: 5em;

        .section__description {
            padding-bottom: 0;
        }

        .tiles {
            width: 100%;
            margin: 2em 0;

            .tiles__description {
                width: 60%;
                margin: 0 auto;
            }
        }
    }

    .test {
        width: 100%;
        padding: 0 2em;
        margin: 2em 0 0 0;
    }

    .latestProject {
        background: none;
        margin-top: 3em;

        .container__details__tiles {
            width: 100%;
            grid-template-columns: 20% 80%;
        }

        .tiles {
            width: 100%;
            align-items: center;
            margin-top: 2em;
        }
    }

    .contact_us {
        .btn {
            width: 25%;
        }
    }
}

@media only screen and (max-width:700px) {
    .nav {
        .list {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .ourServices {
        .tiles__conteiner {
            .tiles {
                width: 75%;
            }
        }
    }

    .test {
        .btn {
            width: 40%;
        }
    }

    .culture__value {
        .tiles {
            .tiles__description {
                width: 75%;
            }
        }
    }

    .contact_us {
        .btn {
            width: 35%;
        }
    }
}

@media only screen and(max-width:450px) {
    .nav {
        .list {
            font-size: 0.8em;
        }
    }

    .main {
        .section__header {
            padding: 0;
        }
    }

    .ourServices {
        .tiles__conteiner {
            .tiles {
                width: 90%;
            }
        }
    }
}