
.icon-lock:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-chart:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */